* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', 'Monserrat';
    font-size: 1.1rem;
    background-color: white;    
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 23vh 162vh 5vh 5vh 5vh;
    margin: 0 auto;
}
.navmenu {
    grid-column: 3/-1;
    grid-row: 1/2;
    position: relative;
    width: 100%;
    font-size: 2rem;
    margin-top: 1%;
}
.logo {
    display: flex;
    grid-row: 1/2;
    grid-column: 1/4;
    justify-self: center;
    margin-top: 0;
}
.logo img {
    width: 100%;
    height: 100%;
    max-width: 240px;
    max-height: 240px;
}
.navmenu ul {
    width: 100%;
    padding-left: 21vw;
    padding-top: 3%;
    list-style-type: none;
    position: relative;
    margin: 0 auto;
}
.navmenu a {
    text-decoration: none;
    color: black;
    font-size: 0.85em;
}
.navmenu ul li {
    width: 20%;
    height: 100%;
    padding: 2%;
    margin: 1vw;
    float: left;
    text-align: center;

    /*background-color: #AA998F;*/
    color: black;
    text-decoration: overline;
    position: relative;
}
.navmenu ul a:hover {
    color: #CC8B86;
    text-decoration: overline;
    font-weight: bold;
    font-size: 0.9em;
}
.slicknav_btn {
    position: relative;
    display: block;
    float: right;
    padding: 0.7em 0.6em 0.5em 0.6em;
    line-height: 1.125em;
}
.slicknav_btn .slick_icon-bar + .slicknav_icon-bar {
    margin-top: 0.18em;
}
.slicknav_menu {
    *zoom: 1;
    background-color: #CC8B86;
    display: none;
    width: 50%;
    margin-left: 50%;
    
}
.slicknav_icon-bar {
    font-size: 1.1em;
}
.slicknav_menutxt {
    font-size: 1.1em;
}
.slicknav_menu a {
    color: black;
    text-decoration: underline;
    background: transparent;
}
.slicknav_menu a:hover {
    color: white;
    background: transparent;
    font-size: 1.2em;
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.18em;
    float: left;
}
.slicknav_nav {
    clear: both;
    height: 120%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.slicknav_menu ul li {
    border-radius: 2px;
}
#mobilemenu {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.main {
    grid-column: 1/5;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.3rem;
    background-color: white;
    border-top: 22px solid #CC8B86;
    border-bottom: 22px solid #CC8B86;
    border-left: 22px solid #F9EAE1;
}
.main h1 {
    margin-top: 3%;
}
.main p {
    text-align: left;
    text-indent: 2vw;
    margin-left: 3%;
    line-height: 5vh;
    font-size: 1rem;
}
.main img {
    width: 100%;
    max-width: 500px;
}

.aside1 {
    grid-column: 5/-1;
    grid-row: 2/3;
    line-height: 3rem;
    font-size: 1.6rem;
    text-align: center;
    background-color: white;
    border-top: 22px solid #CC8B86;
    border-bottom: 22px solid #CC8B86;
    border-right: 22px solid #F9EAE1;
}
.aside1 img {
    display: block;
    margin-left: 5%;
    float: left;
    padding-right: 2%;
    width: 40%;
    max-width: 125px;
}
.aside1 p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.31rem;
    text-align: left;
}
.aside1 h5 {
    clear: both;
    margin: 0;
}
.aside1 h1 {
    margin-bottom: 0;
    margin-top: 3%;
}
.footerlinks {
    grid-row: 3/4;
    grid-column: 4/7;
    /*background-color: #AA998F;*/
    width: 100%;
    margin-left: 52%;
    margin-top: 2%;
}
.info {
    grid-row: 4/5;
    grid-column: 1/-1;
}
.info p {
    text-align: center;
}
.footerlinks i {
    color: black;
    font-size: 2rem;
    width: 10%;
}
.footerlinks i:hover {
    color: #7D4F50;
}
.credit {
    grid-row: 6/-1;
    grid-column: 1/-1;
    font-size: 0.5rem;
    padding-right: 2%;
}
@media only screen and (max-width: 1438px) {
    .aside1 p {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1353px) {
    .container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 8.2% 35.5% 55% 1.9% 2.9%;
        margin: 0 auto;
    }
    .main {
        grid-row: 2/3;
        grid-column: 1/-1;
        border-top: 22px solid #CC8B86;
        border-left: 22px solid #F9EAE1;
        border-right: 22px solid #F9EAE1;
        border-bottom: 22px transparent;
    }
    .main p {
        line-height: 2rem;
    }
    .aside1 {
        grid-row: 3/4;
        grid-column: 1/-1;
        border-bottom: 22px solid #CC8B86;
        border-left: 22px solid #F9EAE1;
        border-right: 22px solid #F9EAE1;
        border-top: 22px transparent;
    }
    .aside1 p {
        font-size: 1.1rem;
    }
    .footerlinks {
        grid-row: 4/5;
        grid-column: 4/7;
    }
    .footerlinks i {
        width: 13%;
        padding-top: 1%;
    }
    .info {
        grid-row: 5/-1;
        grid-column: 1/-1;
        padding-top: 0.5%;
    }
    .navmenu a {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .navmenu ul a:hover {
        color: #CC8B86;
        text-decoration: overline;
        font-weight: bold;
        font-size: 1.4rem;
        
    }
}
@media only screen and (max-width: 1261px) {
    .navmenu a {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .navmenu ul a:hover {
        color: #CC8B86;
        text-decoration: overline;
        font-weight: bold;
        font-size: 1.2rem; 
    }
}
@media only screen and (max-width: 824px) {
    .main {
        font-size: 0.80em;
    }
    .navmenu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 7.8% 32% 67.69% 1.9% 2.9%;
        margin: 0 auto;
    }
    .logo {
        display: flex;
        grid-row: 1/2;
        grid-column: 1/6;
        justify-self: center;
        margin-top: 0;
    }
    .info {
        grid-row: 4/-1;
        grid-column: 1/-1;
        padding-top: 8%;
    }
    .info p {
        text-align: center;
        font-size: 0.85rem;
        padding-bottom: 1%;
    }
    .footerlinks i {
        color: black;
        font-size: 1.8rem;
        width: 29%;
        padding-top: 2%;
    }
    .footerlinks {
        margin-left: 27%;
    }
    .footerlinks i:hover {
        color: #7D4F50;
    }
    .main {
        padding: 1.2%;
    }
    .aside1 {
        padding: 1.2%;
    }
    .aside1 h1 {
        font-size: 1.95rem;
        font-weight: bolder;
    }
    .credit {
        font-size: 0.6rem;
    }
}